<%= form_for(@pin) do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group <%= descriptions_error %>">  
    <%= f.label :descriptions, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :descriptions, class: "form-control" %>
    </div>
  </div>
  <div class="actions col-sm-offset-2">
    <%= f.submit class: "btn btn-warning" %>
  </div>
<% end %>
