<p id="notice"><%= notice %></p>

<p>
  <strong>Descriptions:</strong>
  <%= @pin.descriptions %>
</p>

 <td><%= pin.user.try( :email ) %></td>
<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
